# 企业微信 Webhook URL
# 格式: https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
WEBHOOK_URL=

# 是否强制发送报告(可选,默认 false)
# 设置为 true 时,即使所有服务正常也会发送报告
FORCE_REPORT=false
